body {
  margin: 0;
  font-family:
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    'Roboto',
    'Oxygen',
    'Ubuntu',
    'Cantarell',
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background: url(https://www.rd.com/wp-content/uploads/2018/02/math-problem-1024x683.jpg);
  background-color: rgb(168, 164, 164);
  background-repeat: no-repeat;
  background-size: cover;
}

#root {
  padding: 5%;
  box-sizing: border-box;
}

.display-value {
  border: transparent 5px solid;
  color: white;
  text-align: end;
}

.d-grid {
  display: grid;
  margin: 5px;
  grid-template-columns: repeat(4, 1fr);
}

.ui.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.d-grid-last {
  display: grid;
  margin: 5px;
  grid-template-columns: 2fr 1fr 1fr;
}

.ui.container .column {
  background-color: black;
}
