body {
  margin: 0;
  font-family:
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    'Roboto',
    'Oxygen',
    'Ubuntu',
    'Cantarell',
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  background-color: rgb(17, 20, 53);
}

.display-value {
  border: transparent 5px solid;
  color: white;
  text-align: end;
}

.d-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.sp,
.op,
.num {
  border: 1px black solid;
  text-align: center;
}

.d-grid-last {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
}

.num {
  background-color: rgb(183, 230, 238);
}

.op {
  background-color: rgb(47, 120, 255);
}

.sp {
  background-color: rgb(157, 162, 207);
}
