@import url('https://fonts.googleapis.com/css?family=Amaranth');

html,
body {
  font-family: 'Amaranth', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  margin: 0;
  padding: 0;
  background: linear-gradient(to right, #32e9bc, #32afe9);
  width: 100%;
  overflow-x: hidden;
}

.display-value {
  border: transparent 5px solid;
  color: rgb(255, 255, 255, 0.75);
  text-align: end;
  height: 50px;
  background-color: rgb(0, 0, 0, 0.75);
  font-size: 2.5rem;
}

.d-grid {
  display: grid;
  margin: 1px;
  grid-template-columns: repeat(4, 1fr);
}

.ui.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.d-grid-last {
  display: grid;
  margin: 1px;
  grid-template-columns: 2fr 1fr 1fr;
}

.button {
  border: 1px solid white;
  font-size: 2rem;
  background-color: rgba(255, 255, 255, 0.75);
}
