@import url('https://fonts.googleapis.com/css?family=Amaranth');


html, body {
  font-family: 'Amaranth', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  background: #ECF0F3;
  margin: 0;
  padding: 0;
  background: linear-gradient(to right, #32E9BC, #32afe9);
  width: 100%;
  overflow-x: hidden;
}

#root {
  padding: 5%;
  margin-top: 80px;
}

.display-value {
  border: transparent 5px solid;
  color: white;
  text-align: end;
  height: 50px;
}

.d-grid {
  display: grid;
  margin:1px;
  grid-template-columns: repeat(4, 1fr);
}

.ui.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.d-grid-last {
  display: grid;
  margin: 1px;
  grid-template-columns: 2fr 1fr 1fr;
}

.ui.container .column {
  background-color: black;
}

